/* ayuda */

.ayuda {
  text-align: left;
  @media (min-width: 768px) {
    @include grid-768;
  }

  @media (min-width: 1280px) {
    @include grid-1280;
  }
}

.ayuda__info {
  background-color: white;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 41px -5px rgba(255, 255, 255, 0.42);
  -webkit-box-shadow: 0px 0px 41px -5px rgba(255, 255, 255, 0.42);
  -moz-box-shadow: 0px 0px 41px -5px rgba(255, 255, 255, 0.42);
  h3 {
    color: $color-primario;
    font-size: 1rem;
  }
  p {
    color: black;
    font-size: 1rem;
  }
}
