/* clientes */
.clientes {
  text-align: center;
  background-color: $color-secundario;
  padding: 2rem 0.3rem 2rem 0.3rem;
}

.cliente__info {
  font-size: 1rem;
  text-align: left;
  padding: 2rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 41px -5px rgba(255, 255, 255, 0.42);
  -webkit-box-shadow: 0px 0px 41px -5px rgba(255, 255, 255, 0.42);
  -moz-box-shadow: 0px 0px 41px -5px rgba(255, 255, 255, 0.42);
}

.cliente__info--head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  p {
    color: $color-primario;
  }
}

.cliente__info--p {
  margin-top: 2rem;
  color: black;
}

.cliente__info img {
  border-radius: 50%;
}
.cliente__testimonios {
  @media (min-width: 768px) {
    @include grid-768;
  }
  @media (min-width: 1280px) {
    @include grid-1280;
  }
}
