/* clientes */
.clientes {
  text-align: center;
  background-color: #03001c;
  padding: 2rem 0.3rem 2rem 0.3rem;
}

.cliente__info {
  font-size: 1rem;
  text-align: left;
  padding: 2rem;
  background-color: white;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
}

.cliente__info--head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  color: #5b8fb9;
}

.cliente__info--p {
  margin-top: 2rem;
  color: #000;
}

.cliente__info img {
  border-radius: 50%;
}

@media (min-width: 768px) {
  .cliente__testimonios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    margin: 2rem;
  }
}
